<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/style.css" rel="stylesheet"/>
    <script src="/index.js" defer></script>
</head>
<body>
    
    <div>
        <div id="container"></div>

        <div>
            <p>Nom : </p>
            <input type="text" name="nom" id="nom">
            <p>Prénom : </p>
            <input type="text" name="prenom" id="prenom">
            <button id="envoyer">envoyer</button>
        </div>

        <div style="margin-top:30px">
            <hr>
            <input type="text" name="del" id="del">
            <button id="suppr">delete</button>
            <hr>
        </div>

        <div id="mef"></div>


    </div>

</body>
</html>